.margin-right {
    margin-left: 10px;
}
.p {
    font-family:"Arial";
    color: grey;
}
.font-arial{
    font-family:"Arial";
}
.margin-all-around {
    margin: 5px;
}
.border-grey {
    border-color: grey; }

.rounded-corners-all-around {
    border-radius: 50px;
}
.rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.border-thin {
    border-width: 1px; }
.border-solid {
    border-style: solid; }
.padded-left {
    padding-left: 50px;
}
.padded-bottom {
    padding-bottom: 50px;
}



