.wd-margin-right {
    margin-left: 10px;
}
.p {
    font-family:"Arial";
    color: grey;
}
.wd-font-arial{
    font-family:"Arial";
}
.margin-all-around {
    margin: 5px;
}
.wd-border-grey {
    border-color: grey; }

.wd-rounded-corners-all-around {
    border-radius: 50px;
}
.wd-rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.wd-border-thin {
    border-width: 1px; }
.wd-border-solid {
    border-style: solid; }
.wd-padded-left {
    padding-left: 50px;
}
.wd-padded-bottom {
    padding-bottom: 50px;
}
.wd-float-left{
    float: left
}



